<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BBQ Tracker</title>
</head>
<body>
{{^username}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Name"/>
    <input type="password" name="password" placeholder="Password"/>
    <button type="submit">Login</button>
</form>
{{/username}}

{{#username}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<br>

<form action="/create-bbq" method="post">
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="cookTime" placeholder="Time on the grill"/>
    <input type="datetime-local" name="startTime" value="{{now}}"/>
    <button type="submit">Add Meat</button>
</form>

{{/username}}
<br>

{{#bbqs}}
{{name}} {{cookTime}} {{startTime}}
{{#userpost}}
<form action="/delete-bbq" method="post" style="display: inline-block">
    <input type="hidden" name="deleteid" value="{{id}}"/>
    <button type="submit">Delete</button>
</form>
{{^editvis}}
<form action="/edit-button" method="post" style="display: inline-block">
    <input type="hidden" name="editid" value="{{id}}"/>
    <button type="submit">Edit</button>
</form>

{{/editvis}}
{{#editvis}}
<form action="/edit-bbq" method="post">
    <input type="text" name="name" placeholder="Name"/>
    <input type="text" name="cookTime" placeholder="Time on the grill"/>
    <input type="datetime-local" name="startTime" value="{{now}}"/>
    <button type="submit">Confirm Edit</button>
</form>
{{/editvis}}
{{/userpost}}
<br/>
{{/bbqs}}
</body>
</html>